
<div id="login-popup">
    <div class="login-popup-content">
        <span class="login-popup-close">&times;</span>
        <h2>Welcome Back</h2>
        <p>Click the button below to Login:</p>
        <button id="login-button">Login</button>
    </div>
</div>

<script>
    var loginButton = document.getElementById("login-button");
    var loginPopup = document.getElementById("login-popup");
    var googleLoginButton = document.getElementById("google-login-button");
    var loginPopupClose = document.getElementsByClassName("login-popup-close")[0];

    loginButton.onclick = function () {
        loginPopup.style.display = "block";
    }

    // googleLoginButton.onclick = function () {
    //     // Code to redirect to Google login page
    // }

    loginPopupClose.onclick = function () {
        loginPopup.style.display = "none";
    }
</script>

</body>

</html>