<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <div id="login-popup">
        <div class="login-popup-content">
            <h2>Welcome Back</h2>
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

    <script>
        var loginButton = document.getElementById("login-button");
        var loginPopup = document.getElementById("login-popup");

        loginButton.onclick = function () {
            loginPopup.style.display = "block";
        }

        loginPopupClose.onclick = function () {
            loginPopup.style.display = "none";
        }
    </script>

</body>
